.newEmploymentModalOverlay {
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  color: #696969;
  /* App.css */
  .dot-ellipsis {
    // display: inline-block;
    margin-left: 4px; /* Adds a small space between the text and dots */
    // position: relative;
    width: 24px; /* Adjust based on spacing */
    // vertical-align: middle; /* Aligns dots with text */
  }

  .dot {
    display: inline-block;
    margin-top: -0.4rem;
    font-size: 24px;
    animation: dot-blink 1.5s infinite;
    vertical-align: middle; /* Aligns each dot with the text */
  }

  .dot:nth-of-type(1) {
    left: 0;
    animation-delay: 0s;
  }
  .dot:nth-of-type(2) {
    left: 8px;
    animation-delay: 0.3s;
  }
  .dot:nth-of-type(3) {
    left: 16px;
    animation-delay: 0.6s;
  }

  @keyframes dot-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
