@use "../../../utilities/sizes";
@use "../../../utilities/colors";

.facilitiesWrap {
  // padding: 2rem 0;
  // background-color: #504f4f;
  font-size: calc(0.7rem + 1vmin);
  border-top: 1px solid #ccc;
  .facilitiesContainer {
    // width: sizes.$container_Width_Center;
    // margin: auto;
    h1 {
      font-size: 1.5em;
      color: #696969;
    }
    .facilitiesContent {
      .facilitiesLeft {
        // padding-right: 8rem;
        p {
          margin: 1rem 0 2.4rem;
          line-height: sizes.$line_height;
          color: #ccc;
          font-size: 1em;
          font-weight: 300;
          color: #696969;
        }
        a {
          color: #fff;
          .facilityBtn {
            background-color: #0fc80f;
            padding: 0.7rem 1rem;
            font-weight: 500;
            transition: 0.4s ease;
            color: #fff;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 5px;
          }
          .facilityBtn:hover {
            background-color: colors.$primaryColor;
          }
        }
      }
      .facilitiesRight {
        width: 100%;
        padding-top: 2rem;
        // display: grid;
        // gap: 1.2rem;
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .facilityCard {
          background-size: cover;
          border-radius: 10px;
          color: #fff;
          .colorOverlay {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            height: 12rem;
            width: inherit;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            transition: 0.4s ease;
            &:hover {
              background-color: rgba(0, 0, 0, 0.7);
            }
            h4 {
              font-size: 1.2em;
              letter-spacing: 1px;
              padding-top: 2rem;
              color: #ccc;
            }
          }
          button {
            background-color: transparent;
            border: 1px solid #fff;
            padding: 0.2rem 0.5rem;
            font-weight: 500;
            transition: 0.4s ease;
            color: #fff;
            font-size: 1em;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.4s ease;
            &:hover {
              background-color: #0fc80f;
            }
          }
        }
      }
    }
  }
}
