.profilePictureWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  .profilePictureCont {
    .profileImg {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 1px solid #ccc;
      object-fit: cover;
      padding: 0.1rem;
      filter: drop-shadow(0 0 0.5em #ccc);
    }
  }
}
.left {
  position: relative;
  background: linear-gradient(#043e0caa, #0b601cd2),
    url("https://plus.unsplash.com/premium_photo-1661730292317-eb780ab2c745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      center;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 0 0.5rem;
  h1 {
    position: relative;
    font-size: 1em;
    color: #fff;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    top: 10rem;
  }
  p {
    position: relative;
    font-size: 0.8em;
    color: #fff;
    letter-spacing: 1px;
    top: 10rem;
  }
  span {
    font-size: 1.1em;
    color: #fff;
  }
}
.forgotPassword {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  margin: 0.5rem 0.5rem 0 0;
  color: #696969;
  p {
    cursor: pointer;
    font-size: 0.8em;
  }
}
.css-1dcp0mw-MuiGrid-root > .MuiGrid-item {
  // padding-top: 10rem;
  // font-size: 2rem;
}
.notranslate {
  // font-size: 0.9rem;
}
