// ********** WIDTH********* //
$container_Width_fit: 100%;
$container_Width_lg: 80%;
$container_sideBar_Width: 20%;
$container_Width_md: 90%;
$container_Width_sm: 94%;
$container_Width_Center: 75%;

// ********** HEIGHT********* //
$container_height_fit: 100%;
$container_height_lg: 80%;
$container_height_md: 90%;
$container_height_sm: 94%;
$header_height: 10em;
$line_height: 1.5;
