.signUpSuccessContent {
  margin: auto;
  // padding: 2rem;
  background-color: #fff;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: #555;
    font-size: 1.5em;
  }
  .imageWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 0.4rem;
      border: #292929cc 1px solid;
      padding: 0.2rem;
      object-fit: cover;
      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    }
    p {
      padding-top: 1rem;
      font-size: 0.9em;
      span {
        font-weight: 500;
      }
    }
  }
  .infoText {
    // width: 90%;
    // margin: auto;
    align-items: center;
    p {
      font-size: 0.9em;
      color: #393939;
    }
    .thanks {
      text-align: center;
      padding: 1rem 0;
    }
  }
  .verificationErrorMsg {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    color: red;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    span {
      cursor: pointer;
      .icon {
        font-size: 1.7rem;
        &:hover {
          transform: rotate(360deg);
          transition: 0.9s;
        }
      }
    }
    span:nth-child(1) {
      color: #58abfe;
    }
    span:nth-child(2) {
      color: rgb(173, 25, 168);
    }
    span:nth-child(3) {
      color: rgb(88, 171, 254);
    }
  }
  .sensecRigth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: #555;
    }
  }
}
