.blogs {
  .blogSearch {
    .blogSearchList {
      margin-top: 0.5rem;
      border-radius: 0.5rem;
      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 2px 2px 3px 0px #454343ad;
      overflow-y: auto;
      padding: 0.5rem 0;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 0.4rem;
      }
      &::-webkit-scrollbar-track-piece {
        width: 5px;
      }
      p {
        padding: 0.5rem 1rem;
        // background-color: #434343;
        color: #696969;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
          background-color: #545454;
          color: #fff;
        }
      }
    }
  }
  .blogWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: calc(0.7rem + 1vmin);
    //   background-color: #292929;
    color: #696969;
    .blogTopLeft {
      display: flex;
      align-items: center;
      p {
        font-size: 0.8em;
        color: #696969;
      }
      .blogBy {
        display: flex;
        align-items: center;
        //   .userProfileImg {
        //     width: 32px;
        //     height: 32px;
        //     border-radius: 50%;
        //     object-fit: cover;
        //   }
      }
      .blogUsername {
        font-size: 0.8em;
        font-weight: 500;
        margin: 0 10px;
        color: #696969;
      }
      .blogDate {
        font-size: 12px;
        padding-left: 1rem;
        color: #696969;
      }
    }
    .blogOptionsBtn {
      background-color: transparent;
      cursor: pointer;
      .moreVert {
        color: #696969;
      }
    }
  }
  .textContent {
    padding: unset;
    margin-top: 1rem;
    p {
      line-height: 1.5rem;
      margin: 0.5rem 0;
      font-size: 0.9em;
      color: #696969;
    }
  }
  .blogBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    .blogBottomLeft {
      display: flex;
      gap: 1rem;
      align-items: center;
      .likeBtn {
        position: relative;
        background-color: transparent;
        cursor: pointer;
        .isLiked {
          color: #008000;
        }
        span {
          color: #696969;
        }
      }
      .loveBtn {
        position: relative;
        background-color: transparent;
        margin-left: -0.6rem;
        cursor: pointer;
        .isLoved {
          color: #ff0000;
          &:hover {
            flood-color: aqua;
          }
        }
        span {
          color: #696969;
        }
      }
      .blogLikeCounter {
        font-size: 1rem;
        // padding-left: 1rem;
      }
    }
    .blogBottomRight {
      .blogCommentText {
        cursor: pointer;
        border-bottom: 1px dashed gray;
        font-size: 1rem;
      }
    }
  }
}

.noticeBox {
  // width: 60%;
  margin: auto;
  .noticeCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    border-top: 1px solid #696969;
    margin-top: 1rem;
    .h3Cont {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      font-size: 0.8em;
      // margin-top: 1rem;
      h3 {
        position: absolute;
        top: -0.8rem;
        background-color: #fff;
        padding: 0 1rem;
        color: #696969;
        // transform: translate(-50%);
      }
    }
    .inputFields {
      padding: unset;
      .form {
        .postImageFileUpload {
          // display: flex;
          // flex-direction: column;
          //   width: 100%;
          // margin-left: 16.2rem;
          // justify-content: center;
          // align-items: center;
          padding-top: 2rem;
          // min-width: 15rem;
          // max-width: 20rem;
          // height: 20rem;
          // margin: auto;
          .postImageUpload {
            img {
              // max-width: 22em;
              // min-width: 17em;
              // height: auto;
              // object-fit: cover;
              // border-radius: 0.4rem;
              // border: 0.2rem solid #292929;
            }
            .postImgIcon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 7em;
              height: 7em;
              border-radius: 0.4rem;
              border: 0.2rem solid #cccc;
              color: #696969;
              .postImgIconWrap {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                p {
                  font-size: 0.8em;
                }
              }
            }
          }
          .postImgIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 7em;
            // height: 7em;
            border-radius: 0.4rem;
            border: 0.2rem solid #cccc;
            color: #696969;
            .postImgIconWrap {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              p {
                font-size: 0.8em;
              }
            }
          }
        }
        .content {
          width: 100%;
          //   position: relative;
          display: flex;
          flex-direction: column;
          //   justify-content: center;
          //   align-items: center;
          .title {
            position: relative;
            // max-width: 70%;
            margin-top: 2rem;
            .titleText {
              border: 1px solid #cccc;
              padding: 0.5rem;
              //   width: 100%;
              border-radius: 0.4rem;
              font-size: 1.5rem;
              &:focus {
                // width: 70%;
              }
            }
          }
          .editor {
            // position: relative;
            // max-width: 70%;
            margin-top: 2rem;
            .editorTitle {
              background-color: #fff;
              //   padding: 0 0 0.5rem;
              margin-bottom: 0.5rem;
              font-weight: 400;
              font-size: 1.1em;
            }
            .editorBox {
              //style to hide tinyMCE logo on the editor
              .tox-statusbar {
                a,
                .tox-statusbar__help-text {
                  display: none;
                }
                .tox-statusbar__text-container {
                  display: flex;
                  justify-content: space-between;
                }
              }
              .tox-editor-header {
                z-index: 0;
              }
              .tox-notification {
                z-index: 0;
                position: unset;
              }
            }
          }
          .noticeBtn {
            // width: 70%;
            height: 3rem;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            margin: 1.5rem 0;
            background-color: green;
            // color: #fff;
            transition: 0.4s ease-in-out;
            &:hover {
              background-color: rgb(6, 168, 6);
            }
          }
        }
      }
    }
  }
}
