.blogWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: calc(0.7rem + 1vmin);
  //   background-color: #292929;
  color: #696969;
  .blogTopLeft {
    display: flex;
    align-items: center;
    p {
      font-size: 0.8em;
      color: #696969;
    }
    .blogBy {
      display: flex;
      align-items: center;
      //   .userProfileImg {
      //     width: 32px;
      //     height: 32px;
      //     border-radius: 50%;
      //     object-fit: cover;
      //   }
    }
    .blogUsername {
      font-size: 0.8em;
      font-weight: 500;
      margin: 0 10px;
      color: #696969;
    }
    .blogDate {
      font-size: 12px;
      padding-left: 1rem;
      color: #696969;
    }
  }
  .blogOptionsBtn {
    background-color: transparent;
    cursor: pointer;
    .moreVert {
      color: #696969;
    }
  }
}

.blogBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem;
  .blogBottomLeft {
    display: flex;
    gap: 1rem;
    align-items: center;
    .likeBtn {
      position: relative;
      background-color: transparent;
      cursor: pointer;
      .isLiked {
        color: #008000;
      }
      span {
        color: #696969;
      }
    }
    .loveBtn {
      position: relative;
      background-color: transparent;
      margin-left: -0.6rem;
      cursor: pointer;
      .isLoved {
        color: #ff0000;
        &:hover {
          flood-color: aqua;
        }
      }
      span {
        color: #696969;
      }
    }
    .blogLikeCounter {
      font-size: 1rem;
      // padding-left: 1rem;
    }
  }
  .blogBottomRight {
    .blogCommentText {
      cursor: pointer;
      border-bottom: 1px dashed gray;
      font-size: 1rem;
    }
  }
}
