@use "../../../../utilities/colors";
@use "../../../../utilities/sizes";

.adminOverviewWrap {
  font-size: calc(0.7rem + 1vmin);
  // margin-bottom: 2rem;
  .content {
    background-color: #fff;
    .dashBoardContent {
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      // gap: 1rem;
      padding: 1rem 0;
      margin-bottom: 1rem;
      .card {
        font-size: 1em;
        padding: 1.5rem 1rem;
        border-radius: 0.4rem;
        color: #fff;
        cursor: pointer;
        a {
          color: #fff;
        }
        // &:nth-child(1) {
        //   background-color: #292929;
        // }
        // &:nth-child(2) {
        //   background-color: green;
        // }
        // &:nth-child(3) {
        //   background-color: #414141;
        // }
        // &:nth-child(4) {
        //   background-color: #7a0080;
        // }
        // &:nth-child(5) {
        //   background-color: #005780;
        //   .titleFlex {
        //     h3 {
        //       padding-bottom: unset;
        //     }
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     padding-bottom: 2rem;
        //   }
        //   .pending {
        //     padding: 0.5rem;
        //     border-radius: 0.3rem;
        //     transition: 0.4s ease;
        //     &:hover {
        //       background-color: #fff;
        //       color: #292929;
        //     }
        //   }
        // }
        // &:nth-child(6) {
        //   background-color: #4f088d;
        // }
        // &:nth-child(7) {
        //   background-color: #8d0818;
        // }
        // &:nth-child(8) {
        //   background-color: #4e6802;
        // }
        h3 {
          padding-bottom: 2rem;
          font-size: 0.8em;
        }
        .cardInfo {
          display: flex;
          justify-content: space-between;
          .cardInfoIcons {
            padding-bottom: 1.5rem;
            position: relative;
            display: flex;
            align-items: center;
            .tvIcon {
              position: absolute;
              left: 0.8rem;
              top: -0.6rem;
              //   font-size: 2.5rem;
            }
          }
          .cardTotal {
            font-size: 0.8em;
          }
        }
        .pending {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h4 {
            font-weight: 400;
            font-size: 0.8em;
          }
          .cardPending {
            // font-size: 1.5rem;
          }
        }
      }
    }
  }
}
