@use "../../../utilities/sizes";
@use "../../../utilities/colors";

.faqsSectionWrap {
  position: relative;
  font-size: calc(0.7rem + 1vmin);
  h1 {
    font-size: 1.3em;
    color: #cccc;
    padding-bottom: 2rem;
  }
  .faqIcon {
    font-size: 1.5em;
  }
  h4 {
  }
  .questionsIcon {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8em;
  }
  .questionsIcon.active {
    width: 100%;
    background-color: #6e706f;
    color: #ccc;
    // text-align: left;
    // padding-left: unset;
    border-radius: 0;
    .faqIcon {
      gap: 0;
    }
  }
  .questionsAnswer {
    // padding: 1rem 1.5rem 1.5rem;
    // min-height: 5rem;
    p {
      padding: 0.5rem 0;
      font-size: 0.9em;
      line-height: 1.3rem;
      color: #3b3b3b;
      margin-bottom: 0.5rem;
      font-weight: 300;
    }
    .faqBtn {
      background-color: green;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0.4rem;
      margin-bottom: 1rem;
      font-size: 0.8em;
    }
  }
}
