@use "../../utilities/sizes";
@use "../../utilities/colors";

// #smallFooterWrap {
//   //   position: absolute;
//   //   bottom: 0;
//   width: 100%;
//   color: #fff;
.smallFooterContent {
  background-color: #292929;
  font-size: calc(0.7rem + 1vmin);
  // margin-top: 0.5rem;
  padding: 1rem 0;
  // gap: 1%;
  color: #fff;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
}
// }
