#parentWrap {
  //   position: relative;
  //   height: calc(100vh - 8.6rem);
  display: flex;
  flex-direction: column;
  font-size: calc(0.7rem + 1vmin);
  h1 {
    text-align: center;
    font-size: 1.5em;
    color: #696969;
  }
  #parentFormWrap {
    // background-color: #2f2f2f;
    border-radius: 0.4rem;
    // -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    // box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    filter: drop-shadow(0.3em 0.3em 0.7em #3a3939ad);
    a {
      color: #3b8fa2;
    }
  }
  .textField {
    color: #ba2323;
    filter: drop-shadow(0.3em 0.3em 0.7em #3a3939ad);
    color: #fff;
  }
}
